#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("SEARCH_HEADING") : $searchedText</h1>
<div class="row row-3">
    #if($shows)
        #foreach($show in $shows)
            <div class="col">
                <a class="show" href="/shows/$show.showId">
                    <div class="showCover">
                        <img src="$show.Cover" alt="$show.showTitle">
                    </div>
                    $msg.get("SHOWS_CAPTION", $show.showTitle)
                    <h2>$show.year</h2>
                </a>
            </div>
        #end
    #else
        <h1>Not Found</h1>
    #end
</div>
#end
