#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("SHOWS_HEADING_ALL")</h1>
#if($deleteSucceded)
    <p class="good notification">$msg.get("SHOWS_DELETED", $deletedShowTitle)</p>
#end
#if($user)
    <form id="signinForm" method="get" action="/useraddshow">
        <input type="submit" value="Add a movie">
    </form>
#end
<div class="row row-3">
    #foreach($show in $shows)
        <div class="col">
            <a class="show" href="/shows/$show.showID">
                <div class="showCover">
                    <img src="$show.Cover" alt="$show.showTitle">
                </div>
                $msg.get("SHOWS_CAPTION", $show.showTitle)
                <br>
                #if($rates.get($show.showID) >= 0 && $rates.get($show.showID) <= 1)
                    &#9734;&#9734;&#9734;&#9734;&#9734;
                #elseif($rates.get($show.showID) > 1 && $rates.get($show.showID) <= 2)
                    &#9733;&#9734;&#9734;&#9734;&#9734;
                #elseif($rates.get($show.showID) > 2 && $rates.get($show.showID) <= 3)
                    &#9733;&#9733;&#9734;&#9734;&#9734;
                #elseif($rates.get($show.showID) > 3 && $rates.get($show.showID) <= 4)
                    &#9733;&#9733;&#9733;&#9734;&#9734;
                #elseif($rates.get($show.showID) > 4 && $rates.get($show.showID) <= 5)
                    &#9733;&#9733;&#9733;&#9733;&#9734;
                #else
                    &#9733;&#9733;&#9733;&#9733;&#9733;
                #end
                <h2>$show.year</h2>
            </a>
        </div>
    #end
</div>
#end
