#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("SHOWS_HEADING_ALL")</h1>
<div class="row row-3">
    #foreach($show in $shows)
        <div class="col">
            <a class="show" href="/shows/$show.isbn">
                <div class="bookCover">
                    <img src="$show.mediumCover" alt="$show.title">
                </div>
                $msg.get("SHOWS_CAPTION", $show.title, $show.author)
            </a>
        </div>
    #end
</div>
#end
