#parse("/velocity/layout.vm")
#@mainLayout()
    #if($show)
    <h1>$show.title</h1>
    <h2>$show.author</h2>
    <div class="show">
        <div class="bookCover">
            <img src="$show.largeCover" alt="$show.title">
        </div>
    </div>
    #else
    <h1>$msg.get("SHOWS_SHOW_NOT_FOUND")</h1>
    #end
#end
