#parse("/velocity/layout.vm")
#@mainLayout()
    #if($user)
        #if($user.typeOfUser.equals("admin"))
            <form id="signinForm" method="post">
                <input type="submit" value="Delete this show">
            </form>
            <form id="signinForm" method="get" action="/shows/$show.showID/editshow">
                <input type="submit" value="Edit this show">
            </form>
        </form>
        #end
    #end
    #if($show)
        <center><h2><b>$show.showTitle</b></h2></center>
        <br>
        <div class="row row-2">
            <div class="col">
                <h2><b>Genre:</b><br>$show.genre</h2>
                <h2><b>Length:</b><br>$show.getLengthHour()h $show.getLengthMinute()m</h2>
                <h2><b>Series:</b><br>$show.series</h2>
                <h2><b>Released year:</b><br>$show.year</h2>
                <h2><b>Production company:</b><br>$show.PCO</h2>
            </div>
            <div class="col">
                <h2><b>Cast</b></h2>
                #foreach($credit in $show.credits_roll.keySet())
                    <h2>$show.credits_roll.get($credit)</h2>
                    <h3>-> Role: $credit</h3>
                    #foreach($cast in $casts)
                        #if($cast.getName().equals($show.credits_roll.get($credit)))
                            <h3>-> DOB: $cast.getBirthdate()</h3>
                            <h3>-> BIO: $cast.getBio()</h3>
                        #end
                    #end
                    <br>
                #end
            </div>
        </div>
    <div class="show">
        <div class="showCover">
            <img src="$show.Cover" alt="$show.showTitle">
        </div>
        <br>
        <div class="showCover">
            <h2><strong>Reviews</strong></h2>
            #foreach($review in $reviews)
                <span><strong>User: </strong>$review.userId</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span><strong>Rate: </strong>
                #if($review.rating == 1)
                    &#9733;
                #elseif($review.rating == 2)
                    &#9733;&#9733;
                #elseif($review.rating == 3)
                    &#9733;&#9733;&#9733;
                #elseif($review.rating == 4)
                    &#9733;&#9733;&#9733;&#9733;
                #else
                    &#9733;&#9733;&#9733;&#9733;&#9733;
                #end
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><strong>Time: </strong>$review.date</span>
                <br>
                <br>
                <span>$review.review</span>
                <br>
                <br>
                <hr>
            #end
        </div>
        #if($user)
            <div class="showCover">
                <h2><strong>Rate and Review</strong></h2>
                <form id="RateForm" method="post" action="/rate">
                    <input type="hidden" name="showId" value="$show.showID" />
                    <h3>Rating:</h3>
                    <input name="rating" type="radio" value="1"/>&#9733;
                    <input name="rating" type="radio" value="2"/>&#9733;&#9733;
                    <input name="rating" type="radio" value="3"/>&#9733;&#9733;&#9733;
                    <input name="rating" type="radio" value="4"/>&#9733;&#9733;&#9733;&#9733;
                    <input name="rating" type="radio" value="5"/>&#9733;&#9733;&#9733;&#9733;&#9733;
                    <input type="submit" value="Add Rating"/>
                </form>
                <form id="ReviewForm" method="post" action="/review">
                    <input type="hidden" name="showId" value="$show.showID" />
                    <h3>Review: </h3>
                    <div class="custom-select" style="width:200px;">
                        <select>
                            <option value ="0">Select Review:</option>
                            <option value ="1">Perfect</option>
                            <option value="2">Outstanding</option>
                            <option value="3">Very Good</option>
                            <option value="4">Good</option>
                            <option value="5">Not Bad</option>
                            <option value="6">Bad</option>
                            <option value="7">Terrible</option>
                            <option value="8">Worst</option>
                        </select>
                    </div>
                    <input type="submit" value="Add Review"/>
                </form>
                <form id="FeedbackForm" method="post" action="/feedback">
                    <input type="hidden" name="showId" value="$show.showID" />
                    <h3>Feedback:</h3>
                    <textarea rows="5" cols="90" style="margin: 5px" name="review"></textarea>
                    <input type="submit" value="Add Feedback"/>
                </form>
            </div>
        #end
    </div>
    #else
    <h1>$msg.get("SHOWS_SHOW_NOT_FOUND")</h1>
    #end
#end
