#parse("/velocity/layout.vm")
#@mainLayout()
    #if($show)
    <h1><b>$show.showTitle</b></h1>
    <h2>Genre: $show.genre</h2>
    <h2>Length: $show.getLengthHour()h $show.getLengthMinute()m</h2>
    <h2>Series: $show.series</h2>
    <h2>Released year: $show.year</h2>

    <div class="show">
        <div class="showCover">
            <img src="$show.Cover" alt="$show.showTitle">
        </div>
    </div>
    #else
    <h1>$msg.get("SHOWS_SHOW_NOT_FOUND")</h1>
    #end
#end
